@import "tailwindcss";

@theme {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --color-settlr-green: #00c763;
  --color-settlr-yellow: #f1c40f;
  --color-settlr-black: #000000;
  --color-settlr-white: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Space Grotesk', sans-serif;
}